---
import PracticeResults from "$lib/components/session-results/practice.astro";
import QualifyingResults from "$lib/components/session-results/qualifying.astro";
import RaceResults from "$lib/components/session-results/race.astro";
import type { Session } from "$lib/types";
const { sessions } = Astro.props;
const practice: Session = sessions.find((session: Session) =>
  session.simsession_type_name.match(/PRACTICE/i)
);
const qualifying: Session = sessions.find((session: Session) =>
  session.simsession_type_name.match(/QUALIFY/i)
);
const heat: Session = sessions.length === 4 ? { ...sessions[2], simsession_name: "HEAT" }: null;
const race: Session =
  sessions.length === 4
    ? { ...sessions[3], simsession_name: "RACE" }
    : sessions.find((session: Session) =>
        session.simsession_type_name.match(/RACE/i)
      );
---

<div x-data="tables">
  <div class=`grid grid-cols-${sessions.length} text-center pb-6`>
    <button
      id="PRACTICE QUALIFY HEAT RACE"
      x-on:click="toggle"
      class="border-2 bg-gray-700"
    >
      Practice Table
    </button>
    <button
      id="QUALIFY PRACTICE HEAT RACE"
      x-on:click="toggle"
      class="border-2 bg-gray-700"
    >
      Qualifying Table
    </button>
    {
      heat && (
        <button
          id="HEAT PRACTICE QUALIFY RACE"
          x-on:click="toggle"
          class="border-2 bg-gray-700"
        >
          Heat Table
        </button>
      )
    }
    <button
      id="RACE PRACTICE QUALIFY HEAT"
      x-on:click="toggle"
      class="border-2 bg-gray-700"
    >
      Race Table
    </button>
  </div>
  <div x-if="true">
    <div
      x-cloak
      x-show="PRACTICE"
      x-transition:enter.duration.500ms
      x-transition:leave.duration.0ms
    >
      <PracticeResults session={practice} />
    </div>
    <div
      x-cloak
      x-show="QUALIFY"
      x-transition:enter.duration.500ms
      x-transition:leave.duration.0ms
    >
      <QualifyingResults session={qualifying} />
    </div>
    <div
      x-cloak
      x-show="HEAT"
      x-transition:enter.duration.500ms
      x-transition:leave.duration.0ms
    >
      <RaceResults session={heat} />
    </div>
    <div
      x-cloak
      x-show="RACE"
      x-transition:enter.duration.500ms
      x-transition:leave.duration.0ms
    >
      <RaceResults session={race} />
    </div>
  </div>
</div>
