---
import parseLapTime from '$lib/utils/parse-lap-time'
const { subsession } = Astro.props;
const {
  event_average_lap,
  event_laps_complete,
  num_cautions,
  num_caution_laps,
  num_lead_changes,
  event_strength_of_field,
  start_time,
  end_time,
} = subsession
---

<div class="text-center pb-6">
  Race Summary:
  <p>Average Lap Time: {parseLapTime(event_average_lap)}</p>
  <p>Laps Complete: {event_laps_complete}</p>
  <p>Number of Cautions: {num_cautions} for {num_caution_laps} laps</p>
  <p>Lead Changes: {num_lead_changes}</p>
  <p>Strength of Field: {event_strength_of_field}</p>
  <p>Started: {new Date(start_time)}</p>
  <p>Ended: {new Date(end_time)}</p>
</div>
