---
import { db, User, Season } from "astro:db";
import DefaultLayout from "$lib/layouts/default.astro";
import generateSeasonWeeks from "$lib/utils/generate-season-weeks";
export async function getStaticPaths() {
  const userIds = await db.selectDistinct({ id: User.cust_id }).from(User);
  return userIds.map(({ id }) => ({ params: { id } }));
}
const { id } = Astro.params;
const seasonsFromDb = await db.select().from(Season);
const seasons = seasonsFromDb as  Array<{ schedules: Array<{ start_date: string }> }>;
const weeks = generateSeasonWeeks({ seasons });
const title = `Scheduling By Week - ${id}`;
const description = `Scheduling by week page for user ID: ${id}`;
---

<DefaultLayout {title} {description}>
  <div class="text-center text-3xl">
    {Object.keys(weeks).map((week) => (<div><a class="underline" href=`/Stat-N-Track/user/${id}/scheduling/by-week/${Number(new Date(week))}` rel="prefetch">{new Date(week).toLocaleString("en-US", { timeZone: "America/Chicago" })}</a></div>))}
  </div>
</DefaultLayout>
