---
const { id, title, description } = Astro.props;
const seoTitle = title ? `Stat 'n' Track: ${title}` : "Stat 'n' Track";
const seoDescription =
  description || "An iRacing planner and statistics analyzer";
const primaryNavigationLinks = [
  { href: "/Stat-N-Track/", label: "Home" },
  { href: "/Stat-N-Track/user/300752/", label: "Jacob Collins" },
  { href: "/Stat-N-Track/user/815162/", label: "Jack Glenzinski" },
  { href: "/Stat-N-Track/user/251134", label: 'Kyle Klendworth' },
  { href: "/Stat-N-Track/shared-subsessions/", label: "Shared Subsessions" },
];
const schedulingLinks = id && ['300752', '815162'].includes(id) ? [
  { href: `/Stat-N-Track/user/${id}/scheduling/`, label: "Scheduling" },
  {
    href: `/Stat-N-Track/user/${id}/scheduling/by-week/`,
    label: "Scheduling By Week",
  },
] : []
const userNavigationLinks = id
  ? [
      ...schedulingLinks,
      { href: `/Stat-N-Track/user/${id}/subsessions/`, label: "All Sessions" },
      {
        href: `/Stat-N-Track/user/${id}/subsessions/by-year/`,
        label: "Sessions By Year",
      },
      {
        href: `/Stat-N-Track/user/${id}/subsessions/by-car-class/`,
        label: "Sessions By Car Class",
      },
      {
        href: `/Stat-N-Track/user/${id}/subsessions/by-track/`,
        label: "Sessions By Track",
      },
      {
        href: `/Stat-N-Track/user/${id}/standings/`,
        label: "All Season Standings",
      },
      {
        href: `/Stat-N-Track/user/${id}/standings/full-participation/`,
        label: "Fully Participated Season Standings",
      },
      {
        href: `/Stat-N-Track/user/${id}/standings/by-year/`,
        label: "Season Standings By Year",
      },
      {
        href: `/Stat-N-Track/user/${id}/standings/by-car-class/`,
        label: "Season Standings By Car Class",
      },
    ]
  : [];
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="180x180" href="https://shinsina.github.io/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="https://shinsina.github.io/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="https://shinsina.github.io/favicon-16x16.png">
    <link rel="icon" type="image/x-icon" href="https://shinsina.github.io/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={seoDescription} />
    <title>{seoTitle}</title>
  </head>
  <body class="bg-gray-900 text-white font-sans">
    <div class="text-center border-white border-2">
      <p
        class="block lg:text-5xl md:text-2xl sm:text-xl break-words text-center"
      >
        Stat 'N' Track
      </p>
      <div
        class="block lg:text-3xl md:text-lg sm:text-md break-words text-center py-2"
      >
        {
          primaryNavigationLinks.map(({ href, label }) => (
            <a class="underline p-2" {href}>
              {label}
            </a>
          ))
        }
      </div>
    </div>
    { userNavigationLinks.length ? (
    <div
      class="text-center lg:text-3xl md:text-lg sm:text-md grid grid-cols-5 py-2 border-white border-x-2 border-b-2"
    >
      {
        userNavigationLinks.slice(0, 5).map(({ href, label }) => (
          <div>
            <a class="underline" {href}>
              {label}
            </a>
          </div>
        ))
      }
    </div>
    <div
      class="text-center lg:text-3xl md:text-lg sm:text-md grid grid-cols-5 py-2 border-white border-x-2 border-b-2"
    >
      {
        userNavigationLinks.slice(5, 10).map(({ href, label }) => (
          <div>
            <a class="underline" {href}>
              {label}
            </a>
          </div>
        ))
      }
    </div>) : (<></>) }
    <slot />
  </body>
</html>
