---
import Header from '$lib/components/subsession/header.astro';
import TrackInfo from '$lib/components/track/info.astro';
import LicenseInfo from '$lib/components/subsession/licenseInfo.astro';
import RaceSummary from '$lib/components/subsession/raceSummary.astro';
import RelevantIds from '$lib/components/subsession/relevantIds.astro';
import SessionResultsTables from '$lib/components/session-results/tables.astro';
export async function getStaticPaths() {
	return [
		{ params: { id: 21375964, } },
		{ params: { id: 21376282, } },
		{ params: { id: 21378882, } },
		{ params: { id: 21379254, } },
		{ params: { id: 21379667, } },
		{ params: { id: 21380055, } },
		{ params: { id: 21399164, } },
		{ params: { id: 21399578, } },
		{ params: { id: 21400427, } },
		{ params: { id: 21400830, } },
		{ params: { id: 21761754, } },
		{ params: { id: 21875796, } },
		{ params: { id: 25131839, } },
		{ params: { id: 25132150, } },
		{ params: { id: 25132331, } },
		{ params: { id: 25132641, } },
		{ params: { id: 25132818, } },
		{ params: { id: 25133291, } },
		{ params: { id: 25133582, } },
		{ params: { id: 25134014, } },
		{ params: { id: 25137854, } },
		{ params: { id: 25138128, } },
		{ params: { id: 25153080, } },
		{ params: { id: 25153299, } },
		{ params: { id: 25153734, } },
		{ params: { id: 25158144, } },
		{ params: { id: 25162067, } },
		{ params: { id: 25162736, } },
		{ params: { id: 25163205, } },
		{ params: { id: 25410436, } },
		{ params: { id: 25431769, } },
		{ params: { id: 25440069, } },
		{ params: { id: 25472412, } },
		{ params: { id: 25472854, } },
		{ params: { id: 25473409, } },
		{ params: { id: 25473940, } },
		{ params: { id: 25476473, } },
		{ params: { id: 25495683, } },
		{ params: { id: 25496741, } },
		{ params: { id: 25497880, } },
		{ params: { id: 25498922, } },
		{ params: { id: 25499818, } },
		{ params: { id: 25520847, } },
		{ params: { id: 25521993, } },
		{ params: { id: 25522502, } },
		{ params: { id: 25522928, } },
		{ params: { id: 25529746, } },
		{ params: { id: 25530332, } },
		{ params: { id: 25530914, } },
		{ params: { id: 25531474, } },
		{ params: { id: 25532624, } },
		{ params: { id: 25533154, } },
		{ params: { id: 25533657, } },
		{ params: { id: 25534171, } },
		{ params: { id: 25540823, } },
		{ params: { id: 25554844, } },
		{ params: { id: 25555794, } },
		{ params: { id: 25596958, } },
		{ params: { id: 25600092, } },
		{ params: { id: 25600905, } },
		{ params: { id: 25601844, } },
		{ params: { id: 25625931, } },
		{ params: { id: 25626765, } },
		{ params: { id: 25627172, } },
		{ params: { id: 25634817, } },
		{ params: { id: 25636934, } },
		{ params: { id: 25642717, } },
		{ params: { id: 25643631, } },
		{ params: { id: 25644138, } },
		{ params: { id: 25644639, } },
		{ params: { id: 25647665, } },
		{ params: { id: 25648528, } },
		{ params: { id: 25655286, } },
		{ params: { id: 25656289, } },
		{ params: { id: 25657942, } },
		{ params: { id: 25659003, } },
		{ params: { id: 25701671, } },
		{ params: { id: 25703045, } },
		{ params: { id: 25719869, } },
		{ params: { id: 25726348, } },
		{ params: { id: 25728054, } },
		{ params: { id: 25729194, } },
		{ params: { id: 25739273, } },
		{ params: { id: 25751185, } },
		{ params: { id: 25752501, } },
		{ params: { id: 25753390, } },
		{ params: { id: 25753632, } },
		{ params: { id: 25754310, } },
		{ params: { id: 25754757, } },
		{ params: { id: 25755168, } },
		{ params: { id: 25775267, } },
		{ params: { id: 25795202, } },
		{ params: { id: 25795747, } },
		{ params: { id: 27263695, } },
		{ params: { id: 27265291, } },
		{ params: { id: 27265951, } },
		{ params: { id: 27266355, } },
		{ params: { id: 27286061, } },
		{ params: { id: 27286558, } },
		{ params: { id: 27286707, } },
		{ params: { id: 27296494, } },
		{ params: { id: 27296743, } },
		{ params: { id: 27297513, } },
		{ params: { id: 27298024, } },
		{ params: { id: 27298486, } },
		{ params: { id: 27314161, } },
		{ params: { id: 27314684, } },
		{ params: { id: 27315213, } },
		{ params: { id: 27335208, } },
		{ params: { id: 27361007, } },
		{ params: { id: 27361153, } },
		{ params: { id: 27364857, } },
		{ params: { id: 27391117, } },
		{ params: { id: 27563914, } },
		{ params: { id: 27564159, } },
		{ params: { id: 27681744, } },
		{ params: { id: 27733832, } },
		{ params: { id: 27744953, } },
		{ params: { id: 27745999, } },
		{ params: { id: 27746244, } },
		{ params: { id: 27746646, } },
		{ params: { id: 27746844, } },
		{ params: { id: 27747777, } },
		{ params: { id: 27794344, } },
		{ params: { id: 27979244, } },
		{ params: { id: 27979566, } },
		{ params: { id: 27991278, } },
		{ params: { id: 28131312, } },
		{ params: { id: 28133600, } },
		{ params: { id: 28134720, } },
		{ params: { id: 28194217, } },
		{ params: { id: 28194781, } },
		{ params: { id: 28195339, } },
		{ params: { id: 28218926, } },
		{ params: { id: 28219606, } },
		{ params: { id: 28220094, } },
		{ params: { id: 30089449, } },
		{ params: { id: 30099352, } },
		{ params: { id: 30100987, } },
		{ params: { id: 30125221, } },
		{ params: { id: 30125892, } },
		{ params: { id: 30129604, } },
		{ params: { id: 30130477, } },
		{ params: { id: 30130920, } },
		{ params: { id: 30131439, } },
		{ params: { id: 30131916, } },
		{ params: { id: 30132233, } },
		{ params: { id: 30143140, } },
		{ params: { id: 30144449, } },
		{ params: { id: 30203123, } },
		{ params: { id: 30203425, } },
		{ params: { id: 30261638, } },
		{ params: { id: 30262233, } },
		{ params: { id: 30262948, } },
		{ params: { id: 30264985, } },
		{ params: { id: 30266835, } },
		{ params: { id: 30478422, } },
		{ params: { id: 30479290, } },
		{ params: { id: 30491901, } },
		{ params: { id: 30505207, } },
		{ params: { id: 30535864, } },
		{ params: { id: 31159030, } },
		{ params: { id: 31187922, } },
		{ params: { id: 31188637, } },
		{ params: { id: 31214161, } },
		{ params: { id: 31214660, } },
		{ params: { id: 31218812, } },
		{ params: { id: 31219342, } },
		{ params: { id: 31496630, } },
		{ params: { id: 31602363, } },
		{ params: { id: 32180103, } },
		{ params: { id: 32182313, } },
		{ params: { id: 32548987, } },
		{ params: { id: 32549839, } },
		{ params: { id: 32871522, } },
		{ params: { id: 32907945, } },
		{ params: { id: 32909098, } },
		{ params: { id: 32909915, } },
		{ params: { id: 33080412, } },
		{ params: { id: 33081119, } },
		{ params: { id: 43402928, } },
		{ params: { id: 43403485, } },
		{ params: { id: 43404077, } },
		{ params: { id: 43404310, } },
		{ params: { id: 43455950, } },
		{ params: { id: 43456540, } },
		{ params: { id: 43500169, } },
		{ params: { id: 43500551, } },
		{ params: { id: 43501446, } },
		{ params: { id: 43503794, } },
		{ params: { id: 43506685, } },
		{ params: { id: 43507376, } },
		{ params: { id: 43526839, } },
		{ params: { id: 43596697, } },
		{ params: { id: 43597441, } },
		{ params: { id: 43598229, } },
		{ params: { id: 43598806, } },
		{ params: { id: 43599725, } },
		{ params: { id: 43600274, } },
		{ params: { id: 43601033, } },
		{ params: { id: 43712603, } },
		{ params: { id: 43713513, } },
		{ params: { id: 43726990, } },
		{ params: { id: 43727906, } },
		{ params: { id: 43730020, } },
		{ params: { id: 43730990, } },
		{ params: { id: 43746934, } },
		{ params: { id: 43747866, } },
		{ params: { id: 43824486, } },
		{ params: { id: 43825164, } },
		{ params: { id: 43898791, } },
		{ params: { id: 43986332, } },
		{ params: { id: 43986833, } },
		{ params: { id: 43987533, } },
		{ params: { id: 43988438, } },
		{ params: { id: 43988664, } },
		{ params: { id: 43989057, } },
		{ params: { id: 43989923, } },
		{ params: { id: 43990380, } },
		{ params: { id: 43990975, } },
		{ params: { id: 43991464, } },
		{ params: { id: 43991828, } },
		{ params: { id: 44146400, } },
		{ params: { id: 44146980, } },
		{ params: { id: 44147479, } },
		{ params: { id: 44163486, } },
		{ params: { id: 44180673, } },
		{ params: { id: 44271501, } },
		{ params: { id: 44272139, } },
		{ params: { id: 44308739, } },
		{ params: { id: 44387146, } },
		{ params: { id: 44387989, } },
		{ params: { id: 44388427, } },
		{ params: { id: 44389029, } },
		{ params: { id: 44389802, } },
		{ params: { id: 44391488, } },
		{ params: { id: 44397044, } },
		{ params: { id: 44397988, } },
		{ params: { id: 44398735, } },
		{ params: { id: 44529599, } },
		{ params: { id: 44644511, } },
		{ params: { id: 44644985, } },
		{ params: { id: 44645944, } },
		{ params: { id: 44755449, } },
		{ params: { id: 44755985, } },
		{ params: { id: 44757036, } },
		{ params: { id: 44772818, } },
		{ params: { id: 44773403, } },
		{ params: { id: 44773963, } },
		{ params: { id: 44774747, } },
		{ params: { id: 44775812, } },
		{ params: { id: 44786955, } },
		{ params: { id: 44787856, } },
		{ params: { id: 44788709, } },
		{ params: { id: 44789676, } },
		{ params: { id: 44903401, } },
		{ params: { id: 44904399, } },
		{ params: { id: 44904807, } },
		{ params: { id: 44921300, } },
		{ params: { id: 44922399, } },
		{ params: { id: 44923129, } },
		{ params: { id: 44954166, } },
		{ params: { id: 44955040, } },
		{ params: { id: 44955448, } },
		{ params: { id: 44956766, } },
		{ params: { id: 44957668, } },
		{ params: { id: 44958566, } },
		{ params: { id: 44959425, } },
		{ params: { id: 45047588, } },
		{ params: { id: 45048269, } },
		{ params: { id: 45048980, } },
		{ params: { id: 45049691, } },
		{ params: { id: 45050217, } },
		{ params: { id: 45064899, } },
		{ params: { id: 45065607, } },
		{ params: { id: 45066051, } },
		{ params: { id: 45066547, } },
		{ params: { id: 45066945, } },
		{ params: { id: 45067556, } },
		{ params: { id: 45068183, } },
		{ params: { id: 45136609, } },
		{ params: { id: 45137520, } },
		{ params: { id: 45138146, } },
		{ params: { id: 45153406, } },
		{ params: { id: 45154085, } },
		{ params: { id: 45155267, } },
		{ params: { id: 45170706, } },
		{ params: { id: 45171402, } },
		{ params: { id: 45172335, } },
		{ params: { id: 45172910, } },
		{ params: { id: 45173472, } },
		{ params: { id: 45173770, } },
		{ params: { id: 45337993, } },
		{ params: { id: 45338663, } },
		{ params: { id: 45339361, } },
		{ params: { id: 45469149, } },
		{ params: { id: 45469695, } },
		{ params: { id: 45470235, } },
		{ params: { id: 45480426, } },
		{ params: { id: 45486406, } },
		{ params: { id: 45506228, } },
		{ params: { id: 45507541, } },
		{ params: { id: 45508202, } },
		{ params: { id: 45576025, } },
		{ params: { id: 45576560, } },
		{ params: { id: 45578031, } },
		{ params: { id: 45579615, } },
		{ params: { id: 45588160, } },
		{ params: { id: 45589184, } },
		{ params: { id: 45590225, } },
		{ params: { id: 45649766, } },
		{ params: { id: 45727487, } },
		{ params: { id: 45728044, } },
		{ params: { id: 45728617, } },
		{ params: { id: 45729955, } },
		{ params: { id: 45730499, } },
		{ params: { id: 45731789, } },
		{ params: { id: 45733469, } },
		{ params: { id: 45852342, } },
		{ params: { id: 45853369, } },
		{ params: { id: 45853792, } },
		{ params: { id: 45855132, } },
		{ params: { id: 45855627, } },
		{ params: { id: 45940842, } },
		{ params: { id: 45941181, } },
		{ params: { id: 45941930, } },
		{ params: { id: 45945354, } },
		{ params: { id: 45946335, } },
		{ params: { id: 45962191, } },
		{ params: { id: 45969671, } },
		{ params: { id: 45971644, } },
		{ params: { id: 45971842, } },
		{ params: { id: 45972053, } },
		{ params: { id: 45973193, } },
		{ params: { id: 46084575, } },
		{ params: { id: 46085563, } },
		{ params: { id: 46092160, } },
		{ params: { id: 46204764, } },
		{ params: { id: 46205523, } },
		{ params: { id: 46206540, } },
		{ params: { id: 46344981, } },
		{ params: { id: 46345916, } },
		{ params: { id: 46346758, } },
		{ params: { id: 46468061, } },
		{ params: { id: 46468753, } },
		{ params: { id: 46470054, } },
		{ params: { id: 46482061, } },
		{ params: { id: 46537778, } },
		{ params: { id: 46539227, } },
		{ params: { id: 46540339, } },
		{ params: { id: 46649550, } },
		{ params: { id: 46679017, } },
		{ params: { id: 46680173, } },
		{ params: { id: 47034467, } },
		{ params: { id: 47035986, } },
		{ params: { id: 47961841, } },
		{ params: { id: 48007821, } },
		{ params: { id: 48066849, } },
		{ params: { id: 49775140, } },
		{ params: { id: 49780732, } },
		{ params: { id: 49903309, } },
		{ params: { id: 49905493, } },
		{ params: { id: 49906692, } },
		{ params: { id: 49908181, } },
		{ params: { id: 50047120, } },
		{ params: { id: 50048283, } },
		{ params: { id: 50250770, } },
		{ params: { id: 50251499, } },
		{ params: { id: 50298441, } },
		{ params: { id: 50301800, } },
		{ params: { id: 50317023, } },
		{ params: { id: 50528867, } },
		{ params: { id: 50643088, } },
		{ params: { id: 50643927, } },
		{ params: { id: 50800094, } },
		{ params: { id: 50801570, } },
		{ params: { id: 50802325, } },
		{ params: { id: 51020618, } },
		{ params: { id: 51033499, } },
		{ params: { id: 51097658, } },
		{ params: { id: 51115016, } },
		{ params: { id: 51133268, } },
		{ params: { id: 51133871, } },
		{ params: { id: 51203738, } },
		{ params: { id: 51204596, } },
		{ params: { id: 51319590, } },
		{ params: { id: 51321734, } },
		{ params: { id: 51438433, } },
		{ params: { id: 51439499, } },
		{ params: { id: 51440631, } },
		{ params: { id: 51613923, } },
		{ params: { id: 51637118, } },
		{ params: { id: 51654429, } },
		{ params: { id: 51930328, } },
		{ params: { id: 51931754, } },
		{ params: { id: 52116310, } },
		{ params: { id: 52117273, } },
		{ params: { id: 52206043, } },
		{ params: { id: 52223745, } },
		{ params: { id: 52225691, } },
		{ params: { id: 52366830, } },
		{ params: { id: 52367988, } },
		{ params: { id: 52369556, } },
		{ params: { id: 52459885, } },
		{ params: { id: 52461347, } },
		{ params: { id: 52991818, } },
		{ params: { id: 53068835, } },
		{ params: { id: 53110970, } },
		{ params: { id: 53135833, } },
		{ params: { id: 58009692, } },
		{ params: { id: 58167771, } },
		{ params: { id: 58169246, } },
		{ params: { id: 58430334, } },
		{ params: { id: 58431149, } },
		{ params: { id: 58432401, } },
		{ params: { id: 58609728, } },
		{ params: { id: 58611344, } },
		{ params: { id: 58795268, } },
		{ params: { id: 58997515, } },
		{ params: { id: 58998650, } },
		{ params: { id: 59232957, } },
		{ params: { id: 59273886, } },
		{ params: { id: 59277946, } },
		{ params: { id: 59370598, } },
		{ params: { id: 59371622, } },
		{ params: { id: 59681300, } },
		{ params: { id: 59682304, } },
		{ params: { id: 59816757, } },
		{ params: { id: 59830854, } },
		{ params: { id: 59833564, } },
		{ params: { id: 59943560, } },
		{ params: { id: 59945216, } },
		{ params: { id: 59972078, } },
		{ params: { id: 59972958, } },
		{ params: { id: 59973764, } },
		{ params: { id: 60085453, } },
		{ params: { id: 60086497, } },
		{ params: { id: 60087344, } },
		{ params: { id: 60088193, } },
		{ params: { id: 60236428, } },
		{ params: { id: 60237527, } },
		{ params: { id: 60349392, } },
		{ params: { id: 60350459, } },
		{ params: { id: 60351454, } },
		{ params: { id: 60353398, } },
		{ params: { id: 60354491, } },
		{ params: { id: 60368033, } },
		{ params: { id: 60368897, } },
		{ params: { id: 60370153, } },
		{ params: { id: 60371167, } },
		{ params: { id: 60371909, } },
		{ params: { id: 60373407, } },
		{ params: { id: 60388347, } },
		{ params: { id: 60390558, } },
		{ params: { id: 60424207, } },
		{ params: { id: 60426016, } },
		{ params: { id: 60428141, } },
		{ params: { id: 60429200, } },
		{ params: { id: 60485193, } },
		{ params: { id: 60486275, } },
		{ params: { id: 60487218, } },
		{ params: { id: 60488107, } },
		{ params: { id: 60505533, } },
		{ params: { id: 60506433, } },
		{ params: { id: 60508510, } },
		{ params: { id: 60545741, } },
		{ params: { id: 60546577, } },
		{ params: { id: 60558940, } },
		{ params: { id: 60559621, } },
		{ params: { id: 60560693, } },
		{ params: { id: 60561567, } },
		{ params: { id: 60617832, } },
		{ params: { id: 60618883, } },
		{ params: { id: 60654551, } },
		{ params: { id: 60656471, } },
		{ params: { id: 60657319, } },
		{ params: { id: 60658059, } },
		{ params: { id: 60672405, } },
		{ params: { id: 60709642, } },
		{ params: { id: 60710281, } },
		{ params: { id: 60711123, } },
		{ params: { id: 60746664, } },
		{ params: { id: 60747704, } },
		{ params: { id: 60748637, } },
		{ params: { id: 60764497, } },
		{ params: { id: 60765493, } },
		{ params: { id: 60783528, } },
		{ params: { id: 60875240, } },
		{ params: { id: 60876082, } },
		{ params: { id: 60896515, } },
		{ params: { id: 60914616, } },
		{ params: { id: 60936992, } },
		{ params: { id: 60993805, } },
		{ params: { id: 61011733, } },
		{ params: { id: 61029738, } },
		{ params: { id: 61030723, } },
		{ params: { id: 61053729, } },
		{ params: { id: 61054622, } },
		{ params: { id: 61145957, } },
		{ params: { id: 61148975, } },
		{ params: { id: 61149893, } },
		{ params: { id: 61166498, } },
		{ params: { id: 61168424, } },
		{ params: { id: 61184210, } },
		{ params: { id: 61185173, } },
		{ params: { id: 61384526, } },
		{ params: { id: 61403157, } },
		{ params: { id: 61404708, } },
		{ params: { id: 61405679, } },
		{ params: { id: 61421368, } },
		{ params: { id: 61423220, } },
		{ params: { id: 61424121, } },
		{ params: { id: 61476278, } },
		{ params: { id: 61548971, } },
		{ params: { id: 61549910, } },
		{ params: { id: 61568561, } },
		{ params: { id: 61585998, } },
		{ params: { id: 61587356, } },
		{ params: { id: 61708988, } },
		{ params: { id: 61709892, } },
		{ params: { id: 61817314, } },
		{ params: { id: 61850763, } },
		{ params: { id: 61853345, } },
		{ params: { id: 61854259, } },
		{ params: { id: 61855124, } },
		{ params: { id: 50533591, } },
		{ params: { id: 50554864, } },
		{ params: { id: 50566540, } },
		{ params: { id: 50567387, } },
		{ params: { id: 50611193, } },
		{ params: { id: 50660829, } },
		{ params: { id: 50679963, } },
		{ params: { id: 50848862, } },
		{ params: { id: 50849407, } },
		{ params: { id: 50883606, } },
		{ params: { id: 50883879, } },
		{ params: { id: 50884176, } },
		{ params: { id: 50893942, } },
		{ params: { id: 50903897, } },
		{ params: { id: 50904132, } },
		{ params: { id: 50921888, } },
		{ params: { id: 50922190, } },
		{ params: { id: 50922372, } },
		{ params: { id: 50952736, } },
		{ params: { id: 51019822, } },
		{ params: { id: 51036307, } },
		{ params: { id: 51068976, } },
		{ params: { id: 51069785, } },
		{ params: { id: 51111721, } },
		{ params: { id: 51112323, } },
		{ params: { id: 51183289, } },
		{ params: { id: 51183890, } },
		{ params: { id: 51220213, } },
		{ params: { id: 51220932, } },
		{ params: { id: 51235986, } },
		{ params: { id: 51273142, } },
		{ params: { id: 51322301, } },
		{ params: { id: 51323992, } },
		{ params: { id: 51336813, } },
		{ params: { id: 51406271, } },
		{ params: { id: 51408773, } },
		{ params: { id: 51441644, } },
		{ params: { id: 51442423, } },
		{ params: { id: 51524760, } },
		{ params: { id: 51525573, } },
		{ params: { id: 51596701, } },
		{ params: { id: 51599535, } },
		{ params: { id: 51615851, } },
		{ params: { id: 51634824, } },
		{ params: { id: 51671751, } },
		{ params: { id: 51687969, } },
		{ params: { id: 51786630, } },
		{ params: { id: 51803526, } },
		{ params: { id: 52118844, } },
		{ params: { id: 52119669, } },
		{ params: { id: 52120491, } },
		{ params: { id: 52133458, } },
		{ params: { id: 52150924, } },
		{ params: { id: 52192376, } },
		{ params: { id: 52207700, } },
		{ params: { id: 52209056, } },
		{ params: { id: 52237444, } },
		{ params: { id: 52260500, } },
		{ params: { id: 52363635, } },
		{ params: { id: 55765788, } },
		{ params: { id: 57997525, } },
		{ params: { id: 58140432, } },
		{ params: { id: 58140667, } },
		{ params: { id: 58140850, } },
		{ params: { id: 58368392, } },
		{ params: { id: 58369021, } },
		{ params: { id: 58432165, } },
		{ params: { id: 58482915, } },
		{ params: { id: 58483839, } },
		{ params: { id: 58499286, } },
		{ params: { id: 58531070, } },
		{ params: { id: 58589871, } },
		{ params: { id: 58628350, } },
		{ params: { id: 58658947, } },
		{ params: { id: 58685050, } },
		{ params: { id: 58794019, } },
		{ params: { id: 58815828, } },
		{ params: { id: 58932527, } },
		{ params: { id: 58968451, } },
		{ params: { id: 59000576, } },
		{ params: { id: 59001461, } },
		{ params: { id: 59016819, } },
		{ params: { id: 59086052, } },
		{ params: { id: 59086794, } },
		{ params: { id: 59271928, } },
		{ params: { id: 59272766, } },
		{ params: { id: 59342607, } },
		{ params: { id: 59665899, } },
		{ params: { id: 59814788, } },
		{ params: { id: 59816758, } },
		{ params: { id: 59850806, } },
		{ params: { id: 59851212, } },
		{ params: { id: 59941644, } },
		{ params: { id: 59943375, } },
		{ params: { id: 60070931, } },
		{ params: { id: 60085457, } },
		{ params: { id: 60086278, } },
		{ params: { id: 60181339, } },
		{ params: { id: 60182246, } },
		{ params: { id: 60257488, } },
		{ params: { id: 60370155, } },
		{ params: { id: 60389419, } },
		{ params: { id: 60438772, } },
		{ params: { id: 60440382, } },
		{ params: { id: 60507444, } },
		{ params: { id: 60544849, } },
		{ params: { id: 60592290, } },
		{ params: { id: 60654552, } },
		{ params: { id: 60655543, } },
		{ params: { id: 60672406, } },
		{ params: { id: 60764498, } },
		{ params: { id: 60914618, } },
		{ params: { id: 60965896, } },
		{ params: { id: 61054632, } },
		{ params: { id: 61055741, } },
		{ params: { id: 61203332, } },
		{ params: { id: 61333085, } },
		{ params: { id: 61442069, } },
		{ params: { id: 61460463, } },
		{ params: { id: 61585837, } },
		{ params: { id: 61710059, } },
		{ params: { id: 61816566, } },
	]
}
const { id } = Astro.params;
const response = await fetch(`http://localhost:3000/Stat-N-Track/api/subsession/${id}.json`);
const subsession = await response.json();
const {
		track,
		session_results,
		corners_per_lap: cornersPerLap,
		allowed_licenses: licenses,
		license_category: licenseCategory
	} = subsession || {};
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/Stat-N-Track/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Subsession: {id}</title>
	</head>
	<body class="bg-gray-900 text-white font-sans pt-2">
		<div class="grid grid-cols-12">
			<div class="col-span-4 border-2 grid grid-rows-12">
				<div class="row-span-1"></div>
				<TrackInfo {cornersPerLap} {track} />
				<LicenseInfo {licenses} {licenseCategory} />
			</div>
			<div class="col-span-4 border-2">
				<Header {subsession} />
				<RaceSummary {subsession} />
			</div>
			<div class="col-span-4 border-2 grid grid-rows-12">
				<div class="row-span-1"></div>
				<RelevantIds {subsession} sessions={session_results}  />
			</div>
		</div>
		<SessionResultsTables sessions={session_results} />
		<script>
			import Alpine from 'alpinejs';
			Alpine.data('tables', () => ({
				PRACTICE: false,
				QUALIFY: false,
				RACE: false,
				toggle() {
					this.$el.id.split(' ').forEach((id, index) => {
						if (index) {
							this[id] = false
						} else {
							this[id] = !this[id];
						}
					});
				},
				sort() {
					const [tableName, columnName, rowCount, direction] = this.$el.id.split(' ');
					const rows = new Map();
					const keys = new Set();
					for (let rowNumber = 0; rowNumber < rowCount; rowNumber += 1) {
						const initialValue = this.$refs[`${tableName} ${columnName} ${rowNumber}`].innerText;
						const value = Number.isNaN(Number(initialValue)) ? initialValue : Number(initialValue);
						if (rows.get(value)) {
							rows.set(value, [...rows.get(value), rowNumber]);
						} else {
							rows.set(value, [rowNumber]);
							keys.add(value);
						}
					}
					const keysArray = Array.from(keys);
					const isNumbers = keysArray.filter((key) => typeof key === 'number').length;
					const internalSort = () => {
						if (isNumbers && (direction === 'ascending')) {
							return keysArray.sort((a, b) => {
								return b - a;
							});
						} else if (isNumbers && !direction) {
							return keysArray.sort((a, b) => {
								return a - b;
							});
						} else if (!isNumbers && direction === 'ascending') {
							return keysArray.sort();
						} else if (!isNumbers && !direction) {
							return keysArray.sort().reverse();
						}
					}
					this.$el.id = direction === 'ascending' ? `${tableName} ${columnName} ${rowCount}` : `${tableName} ${columnName} ${rowCount} ascending`;
					const rowElements = direction === 'ascending' ? internalSort().map((key) => key).map((key) => rows.get(key)).flat().map((value) => this.$refs[`${tableName} ${value}`].outerHTML) : internalSort().map((key) => key).map((key) => rows.get(key)).flat().map((value) => this.$refs[`${tableName} ${value}`].outerHTML);
					const tableHeadings = this.$refs[`${tableName} Table Headings`].outerHTML;
					this.$refs[tableName].innerHTML = `${tableHeadings}${rowElements.join('')}`;
				}
			}))
			Alpine.start();
		</script>
	</body>
</html>
